#sliderDifficulty {


    clear: left;
    width: 30%;
    margin: 1% auto;

}

#sliderDifficulty .ui-slider-range { background: #FFCC00; }

/*Style for the slider button*/
#sliderDifficulty .ui-slider-handle {
    width:25px;
    height:25px;
    position:absolute;
    border-style: none;
    background:url(../jQueryUi/images/slider-button.png);
}
.ui-widget-content { background: #291204; }







